@import 'variables';
.mint-header {
  background: @white;
  color: @gray;
  border-bottom: 1px solid @darkgray;
}

.mintui-field-error,
.field-error {
  color: @red;
}

.mintui-field-success {
  color: @green;
}

.mintui-field-warning {
  color: @orange;
}
