@import 'variables';
.mintui,
.mint-cell-wrapper {
  font-size: .28rem;
}

.mint-header {
  font-size: .28rem;
  height: .8rem;
  background: @transparent;
  color: @gray;
  border-bottom: 1px solid @darkgray;
}

.mint-button {
  height: .8rem;
  font-size: .36rem;
}

.mint-field-state {
  .mintui-field-error {
    font-size: .4rem;
  }
}

.mintui-field-error,
.field-error {
  color: @red;
}

.mintui-field-success {
  color: @green;
}

.mintui-field-warning {
  color: @orange;
}

.mint-toast {
  padding: .2rem !important;
}

.mint-toast-text {
  font-size: .28rem
}

// 商品详情页商品详情 v-html scope 无效解决办法
#item-detail-content {
  img {
    width: 100%;
  }
}
