// color variables
@navy: #24344e; // 海蓝色
@black: #000;
@carbonblack: #333;
@gray: #666;
@white: #fff;
@darkgray: #999;
@lightgray: #bbb;
@stripeblue: #2687d0;
@blue: #197aff;
@orange: #ffaa00;
@red: #ff2200;
@green: #2dc12d;
@skyblue: #1eb6f8;
@lightblue: #4c97ff;
@yellow: #f2c200;
@lightred: #ff625c;
@lightgreen: #6dcc50;
@lightnavy: #ccd0d6;
@platinum: #e5e9ee;
@gainsboro: #d8d8d8;
@whitesmoke: #f7f7f7;
@ghostwhite: #f9f9f9;
@darkblue: #2374e1;
@transparent: transparent;
@silvergray: #adb1b6;
// theme variables
@buttonColor: @red;
@color-primary: #ef4001;
@color-background: @whitesmoke;
