.item {
  height: 100%;
  overflow: hidden;
  position: relative;
  .scroll-con {
    transition: all .2s ease;
    height: 200%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  .scroll-wrap {
    height: 50%;
    border: 1px solid red;
  }
  p {
    margin-top: 1500px;
  }
}
