.home {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  .scroll-wrap {
    overflow:auto;
    flex:1;
    .swiper {
      height: 300px;
      img {
        width: 100%;
      }
    }
  }
}
